*.suo
*.db
PHEngine/.vs/*
.vs/*
PHEngine/bin/*
*.exe
*.pdb
PHEngine/Gui/x64/*
PHEngine/Gui/Debug/*
PHEngine/Gui/Release/*
PHEngine/Labyrinth/Debug/*
PHEngine/Labyrinth/Release/*
PHEngine/PHEngine/Debug/*
PHEngine/PHEngine/Release/*
PHEngine/PHEngine/x64/*
PHEngine/STB/Debug/*
PHEngine/STB/Release/*
PHEngine/STB/x64/*