#skeletal mesh
max_skeletal_mesh_bones: 100

#light
max_dir_light_count: 2
max_point_light_count: 10
max_spotlight_count: 10

max_dir_light_shadow_map_count: 2
max_point_light_shadow_map_count: 1
max_spotlight_shadow_map_count: 2

dir_light_PCF_samples_count: 2
point_light_PCF_samples_count: 3
spotlight_PCF_samples_count: 3
                                         
shadow_ortho_projection_half_extent: 25.0
                                         
shadow_map_bias_dir_light: 0.005
shadow_map_bias_point_light: 0.55
shadow_map_bias_spot_light: 0.25

#font
max_font_characters_count: 1000
fonts: arial