#window mode
#available values: windowed, fullscreen
window_mode: fullscreen

#active monitor
#available values: primary, additional
active_monitor: primary

#skeletal mesh
max_skeletal_mesh_bones: 100
#static mesh instances per batch
max_static_mesh_instances_per_batch: 200

#light
#available values: true, false
enable_point_lights: true
#available values: true, false
enable_spot_lights: false

max_dir_light_count: 2
max_point_light_count: 10
max_spotlight_count: 10

#shadow
#available values: true, false
enable_shadows: false

max_dir_light_shadow_map_count: 2
max_point_light_shadow_map_count: 1
max_spotlight_shadow_map_count: 2

dir_light_PCF_samples_count: 2
point_light_PCF_samples_count: 3
spotlight_PCF_samples_count: 3

shadow_ortho_projection_half_extent: 25.0

shadow_map_bias_dir_light: 0.005
shadow_map_bias_point_light: 0.55
shadow_map_bias_spot_light: 0.25

#font
max_font_characters_count: 1000
fonts: nimbus_mono

#music
#available values: true, false
debug_enable_ambient_music: true

#bloom
#available values: true, false
enable_bloom: true
#available values: low, medium, high
bloom_quality: low
#available values: [0.0;1.0]
bloom_threshold: 0.4

#HDR
#available values: true, false
enable_hdr: false
hdr_exposure_value: 1.5

#physics
#available values: true, false
render_debug_physics_data: false
